/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
  }
  
  @keyframes bounceY {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Move 10px up */
    }
}

.animate-bounce-y {
    animation: bounceY 2s ease-in-out infinite;
}

  
  
  